@import url("https://fonts.bunny.net/css?family=Nunito");
/*basic area*/
header {
  height: 50px;
}

footer {
  height: 100px;
  opacity: 1;
}

.btn_primary {
  color: #fff;
  background-color: #699BF7;
  border-color: #699BF7;
  font-weight: bold;
}

.submit_type {
  height: 53px;
}

.input_age {
  width: 15%;
}

.input_tel {
  width: 50%;
}

.input_date {
  width: 70%;
}

.form_select {
  border-radius: 1.5rem;
  margin-top: 5px;
  width: 30%;
  height: 40px;
  padding-left: 10px;
}

/*bootstrap*/
.form-group {
  margin: 10px 0;
}

.form-control {
  border-radius: 1.5rem;
  margin-top: 5px;
}

div .works_text {
  color: #699BF7;
}
div .works_content {
  font-size: 10px;
}

/*validation area*/
ul li.validation_message {
  color: #c20c33;
}

.validation_border {
  border-color: #c20c33;
  background-color: #ffd9e1;
}

/*search area*/
form.search_form {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 20px 20px 0px 20px;
}
form.search_form:before {
  width: 45px;
  height: 15px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%239aa0a6%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
form.search_form input {
  width: 250px;
  height: 40px;
  padding: 5px 25px 5px 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

/*footer menu*/
#sp_fixed_menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  opacity: 1;
  z-index: 999 !important;
  background: #fff;
}
#sp_fixed_menu ul {
  border-top: 1px solid #DBDBDB;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#sp_fixed_menu ul li {
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border-right: 1px solid #fff;
}
#sp_fixed_menu ul li a {
  color: black;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px;
}
#sp_fixed_menu ul li a i.footer_icon_color {
  color: #699BF7;
}
#sp_fixed_menu ul li.create_button a {
  padding-top: 10px !important;
}

/*table area*/
.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5%;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 2.5rem 2rem -2rem hsla(200, 50%, 20%, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table tr.table_head_row {
  border-bottom: 1px solid #aeaeae;
  background-color: #4E4E53;
  color: #fff;
}
.table tr.table_head_row th.table_head_row_cell {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 200;
  font-size: 14px;
}
.table tr.table_head_row th.table_left {
  border-top-left-radius: 10px;
}
.table tr.table_head_row th.table_right {
  border-top-right-radius: 10px;
}
.table tr.table_head_row th.table_right_left {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table tr.table_body_row :first-child {
  color: black;
}
.table tr.table_body_row :first-child.table_body_row_cell {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 14px;
  color: #393d3d;
}

a.widelink {
  display: block;
  text-decoration: none;
}

/*user img*/
div.user-main {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  border-radius: 5%;
  padding: 50px;
  margin: 30px 20px;
}
div div.user_image {
  margin: 0 auto;
}
div div.user_image img {
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: 54% 36%;
}

.image_area {
  position: relative;
}
.image_area img#img {
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.image_area label.filelabel {
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.5s;
}
.image_area label.filelabel input.image_path {
  visibility: hidden;
}

.image_area .image_path,
.filelabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}/*# sourceMappingURL=app.css.map */